<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<string></string>
	<key>Relay1</key>
	<string>ATO</string>
	<key>Relay2</key>
	<string>Daylights</string>
	<key>Relay3</key>
	<string>Actinics</string>
	<key>Relay4</key>
	<string>WM1</string>
	<key>Relay5</key>
	<string>WM2</string>
	<key>Relay6</key>
	<string>Central Pump</string>
	<key>Relay7</key>
	<string>Heater</string>
	<key>Relay8</key>
	<string>Skimmer</string>
	<key>ExpRelay1</key>
	<string>ExpRelay1</string>
	<key>ExpRelay2</key>
	<string>ExpRelay2</string>
	<key>ExpRelay3</key>
	<string>ExpRelay3</string>
	<key>ExpRelay4</key>
	<string>ExpRelay4</string>
	<key>ExpRelay5</key>
	<string>ExpRelay5</string>
	<key>ExpRelay6</key>
	<string>ExpRelay6</string>
	<key>ExpRelay7</key>
	<string>ExpRelay7</string>
	<key>ExpRelay8</key>
	<string>ExpRelay8</string>
	<key>Port</key>
	<string>2000</string>
	<key>EnteredURL</key>
	<string></string>
	<key>TempScale</key>
	<string>*F</string>
</dict>
</plist>
